In [ ]:
from google.colab import drive

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
mortality_df = pd.read_excel('/content/drive/MyDrive/Data/stmf.xlsx')

In [ ]:
mortality_df.columns

Index(['CountryCode', 'Year', 'Week', 'Sex', 'D0_14', 'D15_64', 'D65_74',
       'D75_84', 'D85p', 'DTotal', 'R0_14', 'R15_64', 'R65_74', 'R75_84',
       'R85p', 'RTotal', 'Split', 'SplitSex', 'Forecast'],
      dtype='object')

In [ ]:
mortality_df = mortality_df.drop(columns=['D0_14', 'D15_64', 'D65_74',
       'D75_84', 'D85p', 'R0_14', 'R15_64', 'R65_74', 'R75_84',
       'R85p'], axis=1)
mortality_df

,CountryCode,Year,Week,Sex,DTotal,RTotal,Split,SplitSex,Forecast
0,AUS,2015,1,m,1475.0,0.006484,1,0,0
1,AUS,2015,1,f,1450.0,0.006289,1,0,0
2,AUS,2015,1,b,2925.0,0.006386,1,0,0
3,AUS,2015,2,m,1415.0,0.006220,1,0,0
4,AUS,2015,2,f,1357.0,0.005886,1,0,0
...,...,...,...,...,...,...,...,...,...
118357,USA,2023,15,f,27921.0,0.008656,0,0,1
118358,USA,2023,15,b,58082.0,0.009095,0,0,1
118359,USA,2023,16,m,29149.0,0.009224,0,0,1
118360,USA,2023,16,f,27196.0,0.008431,0,0,1
118361,USA,2023,16,b,56345.0,0.008823,0,0,1

In [ ]:
mortality_df['CountryCode'].unique()

array(['AUS', 'AUT', 'BEL', 'BGR', 'CAN', 'CHE', 'CHL', 'CZE', 'DEUTNP',
       'DNK', 'ESP', 'EST', 'FIN', 'FRATNP', 'GBRTENW', 'GBR_NIR',
       'GBR_SCO', 'GRC', 'HRV', 'HUN', 'ISL', 'ISR', 'ITA', 'KOR', 'LTU',
       'LUX', 'LVA', 'NLD', 'NOR', 'NZL_NP', 'POL', 'PRT', 'RUS', 'SVK',
       'SVN', 'SWE', 'TWN', 'USA'], dtype=object)

In [ ]:
mortality_df['Year'].unique()

array([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999])

In [ ]:
covid_cases_df = pd.read_csv('/content/drive/MyDrive/Data/owid-covid-cases.csv')

In [ ]:
covid_cases_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [ ]:
covid_cases_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [ ]:
covid_cases_df.groupby('iso_code')['total_cases'].max()

iso_code
ABW      44200.0
AFG     222074.0
AGO     105384.0
AIA       3904.0
ALB     334090.0
         ...
WSM      16743.0
YEM      11945.0
ZAF    4072533.0
ZMB     343995.0
ZWE     265139.0
Name: total_cases, Length: 255, dtype: float64